<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Filiais
                <small>manutenção de loja</small>
            </h1>
        </div>
    </div>
</div>
<div class="row" ng-controller="LojaCtrl as v">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cadastro</h3>
            </div>
            <div class="panel-body">

                <div class="form-group col-md-6 col-sm-6">
                    <label for="codigoFilial">Código da filial</label>
                    <input type="text" class="form-control input-sm" placeholder="Código da filial" ng-model="v.filialSelecionada.codigoLoja"
                           id="codigoFilial" name="codigoFilial">
                </div>

                <div class="form-group col-md-6 col-sm-6">
                    <label for="nomeFilial">Nome da filial</label>
                    <input type="text" class="form-control input-sm" placeholder="Nome da filial" ng-model="v.filialSelecionada.nomeLoja"
                           id="nomeFilial" name="nomeFilial">
                </div>

            </div>
            <div class="panel-footer text-right">
                <button type="button" ng-click="v.save()" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Filiais</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Data cadastro</th>
                            <th>&Uacute;ltima altera&ccedil;&atilde;o</th>
                            <th>Status</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in v.filais">
                            <td>{{itm.id}}</td>
                            <td>{{itm.codigoLoja}}</td>
                            <td>{{itm.nomeLoja}}</td>
                            <td>{{itm.dataCadastro| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{itm.dataAlteracao| date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{itm.status}}</td>
                            <td>
                                <button class="btn btn-warning btn-sm" ng-click="v.select(itm)"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger btn-sm" ng-click="v.askDelete(itm)"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>