<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Usuários
                <small>manutenção de usuário</small>
            </h1>
        </div>
    </div>
</div>
<div class="row" ng-controller="UsuarioCtrl as v">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cadastro</h3>
            </div>
            <div class="panel-body">

                <div class="form-group col-md-6 col-sm-6">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control input-sm" placeholder="Nome do usuário" ng-model="v.selected.nome"
                           id="nome" name="nome">
                </div>

                <div class="form-group col-md-6 col-sm-6">
                    <label for="email">E-mail</label>
                    <input type="text" class="form-control input-sm" placeholder="E-mail" ng-model="v.selected.email"
                           id="email" name="email">
                </div>

                <div class="form-group col-md-6 col-sm-6">
                    <label for="username">Login</label>
                    <input type="text" class="form-control input-sm" placeholder="Login de acesso" ng-model="v.selected.username"
                           id="username" name="username">
                </div>

                <div class="form-group col-md-6 col-sm-6">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control input-sm" placeholder="Senha de acesso" ng-model="v.selected.senha"
                           id="senha" name="senha">
                </div>

            </div>
            <div class="panel-footer text-right">
                <button type="button" ng-click="v.save()" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Usuários</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Login</th>
                            <th>Perfil</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in v.usuarios">
                            <td>{{itm.id}}</td>
                            <td>{{itm.nome}}</td>
                            <td>{{itm.email}}</td>
                            <td>{{itm.username}}</td>
                            <td>{{itm.perfil}}</td>
                            <td>
                                <button class="btn btn-warning btn-sm" ng-click="v.select(itm)"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger btn-sm" ng-click="v.delete(itm)"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>