<div ng-controller="DashboardCtrl as c" ng-init="c.init()">
    <div class="row" >
        <div class="col-lg-3 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-body>
                    <div class="widget-icon yellow pull-left">
                        <i class="fa fa-send"></i>
                    </div>
                    <div class="title">{{c.vendaEnvio}}</div>
                    <div class="comment"><a href="#/venda-pendente-envio">Vendas pendentes de envio</a></div>
                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-body>
                    <div class="widget-icon blue pull-left">
                        <i class="fa fa-hourglass-half"></i>
                    </div>
                    <div class="title">{{c.vendaRetorno}}</div>
                    <div class="comment"><a href="#/venda-pendente-envio">Vendas aguardando retorno</a></div>
                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <rd-widget>
                <rd-widget-body>
                    <div class="widget-icon orange pull-left">
                        <i class="fa fa-warning"></i>
                    </div>
                    <div class="title">{{c.vendaErro}}</div>
                    <div class="comment"><a href="#/venda-pendente-envio">Vendas com erro</a></div>
                </rd-widget-body>
            </rd-widget>
        </div>
       
    </div>

    <div class="row" >
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">&Uacute;ltimas ocorrências recebidas</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Operação</th>
                                <th>Messagem</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="itm in c.resultado">
                                <td>{{itm.id}}</td>
                                <td>{{itm.operacao}}</td>
                                <td>{{itm.mensagem}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>