<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Detalhe
                <small>delhamento de pagamento</small>
            </h1>
        </div>
    </div>
</div>
<div ng-controller="DetalhePagamentoCtrl as v">
    
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <span class="label label-primary">Data venda</span>
                    {{v.dataVenda | date:'dd/MM/yyyy'}}
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <span class="label label-primary">Loja</span>
                    {{v.codigoLojaErp}}
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <span class="label label-primary">Código estabelecimento</span>
                    {{v.codigoEstabelecimento}}
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <span class="label label-primary">Banco</span>
                    {{v.banco}}
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <span class="label label-primary">Agencia</span>
                    {{v.agencia}}
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <span class="label label-primary">Conta</span>
                    {{v.conta}}
                </div>
            </div>
        </div>
    </div>


</div>