<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Pagamentos e antecipações
                <small>relatório de retornos</small>
            </h1>
        </div>
    </div>
</div>

<div class="row" ng-controller="RetornoPagamentoCtrl as v">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Filtro de vendas</h3>
                <span class="pull-right clickable panel-collapsed"><i class="fa fa-chevron-down"></i></span>
            </div>
            <div class="panel-body" style="display: none">
                <form id="frmFiltro" name="frmFiltro">
                    <div class="form-group col-md-3 col-sm-6">
                        <label for="periodoIni">Data inicial</label>
                        <datepicker date-format="dd/MM/yyyy" selector="form-control">
                            <input class="form-control input-sm" id="periodoIni" ng-model="v.paramConsulta.periodoIni"
                                   placeholder="Selecione uma data"/>
                        </datepicker>
                    </div>
                    <div class="form-group col-md-3 col-sm-6">
                        <label for="periodoFim">Data final</label>
                        <datepicker date-format="dd/MM/yyyy" selector="form-control">
                            <input class="form-control input-sm" id="periodoFim" ng-model="v.paramConsulta.periodoFim"
                                   placeholder="Selecione uma data"/>
                        </datepicker>
                    </div>
                    <div class="form-group col-md-3 col-sm-6">
                        <label for="loteIni">Número de lote inicial</label>
                        <input type="number" class="form-control input-sm" ng-model="v.paramConsulta.loteIni"
                               id="loteIni" name="loteIni">
                    </div>
                    <div class="form-group col-md-3 col-sm-6">
                        <label for="loteFim">Número de lote final</label>
                        <input type="number" class="form-control input-sm" ng-model="v.paramConsulta.loteFim"
                               id="loteFim" name="loteFim">
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                        <label for="lojas">Lojas</label>
                        <select class="form-control input-sm" multiple id="lojas" name="lojas"
                                ng-model="v.paramConsulta.codigoLojas"
                                ng-options="loja.nomeLoja for loja in v.paramDefault.filiais">
                            <option value="">-- TODAS AS LOJAS --</option>
                        </select>

                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                        <label for="bandeiras">Bandeiras</label>
                        <select class="form-control input-sm" multiple id="bandeiras" name="bandeiras"
                                ng-model="v.paramConsulta.bandeiras"
                                ng-options="rede.label for rede in v.paramDefault.bandeiras">
                            <option value="">-- TODAS AS BANDEIRAS --</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                        <label for="redes">Redes</label>
                        <select class="form-control input-sm" multiple id="redes" name="redes"
                                ng-model="v.paramConsulta.redes"
                                ng-options="rede.label for rede in v.paramDefault.redes">
                            <option value="">-- TODAS AS REDES --</option>

                        </select>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-right">
                <button type="button" ng-click="v.searchPagamentos()" class="btn btn-primary">Consultar</button>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Resultado</div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="text-right">Data venda</th>
                            <th class="text-right">Banco</th>
                            <th class="text-right">agencia</th>
                            <th class="text-right">Conta</th>
                            <th class="text-right">Cód. Estab.</th>
                            <th class="text-right">Cód. Lj</th>
                            <th class="text-left">Bandeira</th>
                            <th class="text-left">Rede</th>
                            <th class="text-right">Autorização</th>
                            <th class="text-right">Nsu</th>
                            <th class="text-right">Nr Lote</th>
                            <th class="text-right">Plano</th>
                            <th class="text-center">Prod.</th>
                            <th class="text-left">Status Conc.</th>
                            <th class="text-right">Data Créd.</th>
                            <th class="text-right">Parcela</th>
                            <th class="text-right">Status</th>
                            <th class="text-right">Vlr Admin.</th>
                            <th class="text-right">Vlr Antec.</th>
                            <th class="text-right">Vlr Bruto</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in v.pagamentos.slice(((v.currentPage - 1) * 15), ((v.currentPage) * 15))| orderBy:['dataVenda', 'codigoLojaErp', 'codigoEstabelecimento'] ">
                            <td class="text-right">{{itm.dataVenda | date:'dd/MM/yyyy'}}</td>
                            <td class="text-right">{{itm.banco}}</td>
                            <td class="text-right">{{itm.agencia}}</td>
                            <td class="text-right">{{itm.conta}}</td>
                            <td class="text-right">{{itm.codigoEstabelecimento}}</td>
                            <td class="text-right">{{itm.codigoLojaErp}}</td>
                            <td class="text-left">{{itm.rede| operadora}}</td>
                            <td class="text-left">{{itm.bandeira| bandeira}}</td>
                            <td class="text-right">{{itm.autorizacao}}</td>
                            <td class="text-right">{{itm.nsu}}</td>
                            <td class="text-right">{{itm.numeroLote}}</td>
                            <td class="text-right">{{itm.plano}}</td>
                            <td class="text-center">{{itm.produto}}</td>
                            <td class="text-left">{{itm.statusConciliacao| statusvenda}}</td>
                            <td class="text-right">{{itm.dataCredito| date:'dd/MM/yyyy'}}</td>
                            <td class="text-right">{{itm.parcela}}</td>
                            <td class="text-right">{{itm.status}}</td>
                            <td class="text-right">{{itm.valorAdministracao| number:2}}</td>
                            <td class="text-right">{{itm.valorAntecipacao| number:2}}</td>
                            <td class="text-right">{{itm.valorBruto| number:2}}</td>
                            <td class="text-center" ><a ui-sref="detalhe-pagamento({id: itm.id})">Ver detalhe</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-center">                
                <ul uib-pagination total-items="v.pagamentos.length" ng-model="v.currentPage" max-size="10" class="pagination-sm" items-per-page="20"></ul>
            </div>
        </div>


    </div>
</div>
