<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Acompanhamento de vendas
                <small>Consultas e processos</small>
            </h1>
        </div>
    </div>
</div>
<div class="row" ng-controller="VendaPndEnvioCtrl as v">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Filtro de vendas</h3>
                <span class="pull-right clickable panel-collapsed"><i class="fa fa-chevron-down"></i></span>
            </div>
            <div class="panel-body" style="display: none">
                <form id="frmFiltro" name="frmFiltro">
                    <div class="form-group col-md-3 col-sm-6">
                        <label for="periodoIni">Data inicial da venda</label>
                        <datepicker date-format="dd/MM/yyyy" selector="form-control">
                            <input class="form-control input-sm" id="periodoIni" ng-model="v.paramConsulta.periodoIni"
                                   placeholder="Selecione uma data"/>
                        </datepicker>
                    </div>
                    <div class="form-group col-md-3 col-sm-6">
                        <label for="periodoFim">Data final da venda</label>
                        <datepicker date-format="dd/MM/yyyy" selector="form-control">
                            <input class="form-control input-sm" id="periodoFim" ng-model="v.paramConsulta.periodoFim"
                                   placeholder="Selecione uma data"/>
                        </datepicker>
                    </div>
                    <div class="form-group col-md-3 col-sm-6">
                        <label for="vendaIni">Código incial da venda</label>
                        <input type="number" class="form-control input-sm" ng-model="v.paramConsulta.vendaIni"
                               id="vendaIni" name="vendaIni">
                    </div>
                    <div class="form-group col-md-3 col-sm-6">
                        <label for="vendaFim">Código final da venda</label>
                        <input type="number" class="form-control input-sm" ng-model="v.paramConsulta.vendaFim"
                               id="vendaFim" name="vendaFim">
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                        <label for="lojas">Lojas</label>
                        <select class="form-control input-sm" multiple id="lojas" name="lojas"
                                ng-model="v.paramConsulta.codigoLojas"
                                ng-options="loja.nomeLoja for loja in v.paramDefault.filiais">
                            <option value="">-- TODAS AS LOJAS --</option>
                        </select>

                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                        <label for="bandeiras">Bandeiras</label>
                        <select class="form-control input-sm" multiple id="bandeiras" name="bandeiras"
                                ng-model="v.paramConsulta.bandeiras"
                                ng-options="rede.label for rede in v.paramDefault.bandeiras">
                            <option value="">-- TODAS AS BANDEIRAS --</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                        <label for="redes">Redes</label>
                        <select class="form-control input-sm" multiple id="redes" name="redes"
                                ng-model="v.paramConsulta.redes"
                                ng-options="rede.label for rede in v.paramDefault.redes">
                            <option value="">-- TODAS AS REDES --</option>

                        </select>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                        <label for="status">Status</label>
                        <select class="form-control input-sm" 
                                name="status"
                                ng-model="v.paramConsulta.status"
                                ng-options="s as s for s in v.paramDefault.status">
                            <option value="">-- TODOS STATUS --</option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="panel-footer text-right">
                <button type="button" ng-click="v.searchVendas()" class="btn btn-primary">Consultar</button>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Resultado</div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="text-right">Loja</th>
                            <th class="text-right">ID Venda</th>
                            <th class="text-center">Data</th>
                            <th class="text-center">NSU</th>
                            <th class="text-center">Autorização</th>
                            <th class="text-center">Plano</th>
                            <th class="text-left">Rede</th>
                            <th class="text-right">Valor</th>
                            <th class="text-center">Produto</th>
                            <th class="text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in v.vendas.slice(((v.currentPage - 1) * 15), ((v.currentPage) * 15))| orderBy:['dataVenda', 'codigoLojaErp', 'codigoEstabelecimento']">
                            <td class="text-right">{{itm.codigoLoja}}</td>
                            <td class="text-right">{{itm.id}}</td>
                            <td class="text-center">{{itm.dataVenda | date: 'dd/MM/yyyy'}}</td>
                            <td class="text-center">{{itm.nsu}}</td>
                            <td class="text-center">{{itm.autorizacao}}</td>
                            <td class="text-center">{{itm.plano}}</td>
                            <td class="text-left">{{itm.rede| operadora}}</td>
                            <td class="text-right">{{itm.valor| number:2}}</td>
                            <td class="text-center">{{itm.produto}}</td>
                            <td class="text-center">
                                <i class="fa"
                                   ng-class="{'fa-send text-warning' :itm.status == 'PENDENTE'  , 'fa-download text-info': itm.status == 'ANDAMENTO', 'fa-check text-success': itm.status == 'ENVIADO'  , 'fa-remove text-danger': itm.status == 'ERRO_ENVIO'}"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-center">
                <i class="fa fa-send text-warning"></i> aguardando envio -
                <i class="fa fa-download text-info"></i> aguardando retorno -
                <i class="fa fa-check text-success"></i> pagamento recebido -
                <i class="fa fa-remove text-danger"></i> venda com erro             
                <ul uib-pagination total-items="v.vendas.length" ng-model="v.currentPage" max-size="10" class="pagination-sm" items-per-page="20"></ul>

            </div>
        </div>


    </div>
</div>
