<!doctype html>
<html lang="en" style="zoom: 80%" ng-app="RDash">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
        <link rel="manifest" href="img/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <title>Convergência - e-Extrato {{$state.current.data.pageTitle}}</title>
        <!-- STYLES -->
        <!-- build:css lib/css/main.min.css -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/rdash.min.css">
        <link rel="stylesheet" type="text/css" href="css/angular-datepicker.min.css">
        <link rel="stylesheet" type="text/css" href="css/angular-advanced-searchbox.min.css">
        <link rel="stylesheet" type="text/css" href="css/icon-panel.css">
        <!-- endbuild -->

        <script type="text/javascript" src="js/oauth/hmac-sha1.js"></script>
        <script type="text/javascript" src="js/oauth/hmac-sha256.js"></script>
        <script type="text/javascript" src="js/oauth/oauth-1.0a.js"></script>
        <script type="text/javascript" src="js/oauth/enc-base-64-min.js"></script>

        <!-- SCRIPTS -->
        <!-- build:js lib/js/main.min.js -->
        <script type="text/javascript" src="js/components/angular.min.js"></script>
        <script type="text/javascript" src="js/components/jquery.min.js"></script>
        <script type="text/javascript" src="js/components/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/components/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="js/components/angular-cookies.min.js"></script>
        <script type="text/javascript" src="js/components/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="js/components/angular-resource.min.js"></script>
        <script type="text/javascript" src="js/components/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="js/components/ngStorage.min.js"></script>
        <script type="text/javascript" src="js/components/angular-datepicker.min.js"></script>
        <script type="text/javascript" src="js/components/angular-locale_pt-br.js"></script>
        <script type="text/javascript" src="js/components/angular-advanced-searchbox-tpls.min.js"></script>

        <!-- endbuild -->
        <!-- Custom Scripts -->

        <script type="text/javascript" src="js/module.js"></script>
        <script type="text/javascript" src="js/routes.js"></script>
        <script type="text/javascript" src="js/collapse-panel.js"></script>

        <script type="text/javascript" src="js/services/usuario-srv.js"></script>
        <script type="text/javascript" src="js/controllers/master-ctrl.js"></script>
        <script type="text/javascript" src="js/interceptors/security-interceptor.js"></script>

        <script type="text/javascript" src="js/resources/erro-srv.js"></script>
        <script type="text/javascript" src="js/resources/lojas-srv.js"></script>
        <script type="text/javascript" src="js/resources/retorno-ajuste-tarifa-srv.js"></script>
        <script type="text/javascript" src="js/resources/retorno-pagamento-srv.js"></script>
        <script type="text/javascript" src="js/resources/retorno-venda-srv.js"></script>
        <script type="text/javascript" src="js/resources/usuario-srv.js"></script>
        <script type="text/javascript" src="js/resources/venda-pendente-srv.js"></script>

        <script type="text/javascript" src="js/controllers/alert-ctrl.js"></script>
        <script type="text/javascript" src="js/controllers/dashboard-ctrl.js"></script>
        <script type="text/javascript" src="js/controllers/detalhe-pagamento.js"></script>
        <script type="text/javascript" src="js/controllers/login-ctrl.js"></script>
        <script type="text/javascript" src="js/controllers/loja-ctrl.js"></script>
        <script type="text/javascript" src="js/controllers/modal-instance-ctrl.js"></script>
        <script type="text/javascript" src="js/controllers/retorno-ajuste-tarifa-ctrl.js"></script>
        <script type="text/javascript" src="js/controllers/retorno-pagamento-ctrl.js"></script>
        <script type="text/javascript" src="js/controllers/retorno-venda-ctrl.js"></script>
        <script type="text/javascript" src="js/controllers/usuario-ctrl.js"></script>
        <script type="text/javascript" src="js/controllers/venda-pendente-ctrl.js"></script>

        <script type="text/javascript" src="js/filters/EnumBandeira.js"></script>
        <script type="text/javascript" src="js/filters/EnumHistorico.js"></script>
        <script type="text/javascript" src="js/filters/EnumOperadora.js"></script>
        <script type="text/javascript" src="js/filters/EnumStatus.js"></script>
        <script type="text/javascript" src="js/filters/Filters.js"></script>

        <script type="text/javascript" src="js/directives/widget.js"></script>
        <script type="text/javascript" src="js/directives/widget-body.js"></script>
        <script type="text/javascript" src="js/directives/widget-footer.js"></script>
        <script type="text/javascript" src="js/directives/widget-header.js"></script>
        <script type="text/javascript" src="js/directives/loading.js"></script>



    </head>
    <body ng-controller="MasterCtrl as m">
        <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar">
                    <li class="sidebar-main">
                        <a ng-click="toggleSidebar()">
                            <img alt="" height="25" src="img/logo.png" />
                            <span class="menu-icon glyphicon glyphicon-transfer"></span>
                        </a>
                    </li>
                    <li class="sidebar-title"><span>NAVIGATION</span></li>
                    <li class="sidebar-list">
                        <a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
                    </li>
                    <li class="sidebar-title"><span>Cadastro</span></li>
                    <li class="sidebar-list">
                        <a href="#/loja">Lojas <span class="menu-icon fa fa-list"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/usuario">Usuários <span class="menu-icon fa fa-user"></span></a>
                    </li>
                    <li class="sidebar-title"><span>Envio</span></li>
                    <li class="sidebar-list">
                        <a href="#/venda-pendente-envio">Vendas <span class="menu-icon fa fa-send"></span></a>
                    </li>

                    <li class="sidebar-title"><span>Retorno</span></li>
                    <li class="sidebar-list">
                        <a href="#/retorno-venda">Vendas <span class="menu-icon fa fa-shopping-basket"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/retorno-pagamento">Pagamentos <span class="menu-icon fa fa-money"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#/retorno-ajuste-tarifa">Ajustes e tarifas <span class="menu-icon fa fa-balance-scale"></span></a>
                    </li>
                    <!--        <li class="sidebar-title"><span>Extra</span></li>
                            <li class="sidebar-list">
                              <a href="#/log">Logs <span class="menu-icon fa fa-file-text"></span></a>
                            </li>-->
                </ul>
                <div class="sidebar-footer">
                    <div class="col-xs-6">
                        <a href="http://www.convergenciatecnologia.com.br" target="_blank">
                            Convergência
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="http://doc.convergencia.io/dokuwiki/doku.php" target="_blank">
                            Documentação
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->

            <div id="content-wrapper">
                <div class="page-content">

                    <!-- Header Bar -->
                    <div class="row header">
                        <div class="col-xs-12">
                            <div class="user pull-right">
                                <div class="item dropdown" uib-dropdown>
                                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                        <img src="img/avatar.jpg">
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-header">
                                            {{m.currentUser.nome}}
                                        </li>
                                        <li class="divider"></li>
                                        <li class="link">
                                            <a href="#" ng-click="m.logout()">
                                                Sair
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item dropdown" uib-dropdown>
                                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                        <i class="fa fa-bell-o"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-header">
                                            Notificações
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Novos retornos de venda!</a>
                                        </li>
                                        <li>
                                            <a href="#">Novos retornos de pagamento!</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="meta">
                                <div class="page" >
                                    {{$state.current.data.pageTitle}}
                                </div>
                                <div class="breadcrumb-links" >
                                    {{$state.current.data.breadcrumb}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Header Bar -->

                    <!-- Main Content -->
                    <div ui-view></div>

                </div><!-- End Page Content -->
            </div><!-- End Content Wrapper -->
        </div><!-- End Page Wrapper -->
    </body>
</html>
